apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-metrics
  namespace: kafka
  labels:
    app: strimzi
data:
  kafka-metrics-config.yml: |
    lowercaseOutputName: true
    rules:
      - pattern: "kafka.server<type=(.+), name=(.+)PerSec\\w*><>Count"
        name: kafka_server_$1_$2_total
        type: COUNTER
      - pattern: "kafka.server<type=(.+), name=(.+)><>(Value|Mean|OneMinuteRate)"
        name: kafka_server_$1_$2
        type: GAUGE

